<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icons/48x48.png" type="image/png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Mon PWA">
    <link rel="apple-touch-icon" href="/icons/192x192.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
     <center>
     	<img src="/icons/192x192.png">
     	<p>Book ups</p>
     	<div class="loader" id="pageLoader"></div>
     </center> 
  </body>
  <script src="/javascripts/redirect.js">
  
  </script>
</html>
