<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/my_profil.css'/>
    <link rel="icon" href="/icons/48x48.png" type="image/png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Mon PWA">
    <link rel="apple-touch-icon" href="/icons/192x192.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
     <nav>
	<div onclick="window.location.href='/Parent'">
		<i class='bx bx-chevron-left-circle'></i>
	</div>
	<h3>My Profil</h3>
     </nav>
     <center>
     	<div class="pp">
     		<i class='bx bx-camera'></i>
     		<div class="picture" style="background:url(/images/portrait.jpeg)"></div>
     		<div class="edit">
     			<i class='bx bx-pencil' style="color:#0051A2;font-size:1.6rem;margin-top:03px;margin-left:8px;"></i>
     		</div>
     	</div>
     	<div class="fond"></div>
     	<div class="information">
     		<i class='bx bxs-user'></i>
     		<p>M. OBAMA Michelle</p>
     		<div class="edit1">
     			<i class='bx bx-pencil' style="color:#0051A2;font-size:1.6rem;margin-top:8px;margin-left:-5px;"></i>
     		</div>
     	</div>
     	<div class="information">
     		<i class='bx bxs-phone'></i>
     		<p>+237690838146</p>
     		<div class="edit1">
     			<i class='bx bx-pencil' style="color:#0051A2;font-size:1.6rem;margin-top:8px;margin-left:-5px;"></i>
     		</div>
     	</div>
     	<div class="information">
     		<i class='bx bxs-key'></i>
     		<p>********</p>
     		<div class="edit1">
     			<i class='bx bx-pencil' style="color:#0051A2;font-size:1.6rem;margin-top:8px;margin-left:-5px;"></i>
     		</div>
     	</div>
     	<div class="information">
     		<i class='bx bxs-map'></i>
     		<p>Nkoabang</p>
     		<div class="edit1">
     			<i class='bx bx-pencil' style="color:#0051A2;font-size:1.6rem;margin-top:8px;margin-left:-5px;"></i>
     		</div>
     	</div>
     </center>
  </body>
  <script src="/javascripts/view_teacher.js"></script>
</html>
