<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/parent_profil.css'/>
    <link rel="icon" href="/icons/48x48.png" type="image/png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Mon PWA">
    <link rel="apple-touch-icon" href="/icons/192x192.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
     <nav>
	<div style="background: url(/icons/192x192.png) no-repeat"></div>
	<h3>Book up's</h3>
	<div class="setting" id="setting">
		<i class='bx bxs-user' style="color:black;font-size:30px;margin-top:5px;"></i>
	</div>
     </nav>
     <div class="manipulation" id="other">
     	<span>
     		<i class='bx bx-info-circle' style=""></i>
     		<p>infos</p>
     	</span>
     	<span>
     		<i class='bx bxs-home' style=""></i>
     		<p>setting2</p>
     	</span>
     	<span>
     		<i class='bx bxs-home' style=""></i>
     		<p>setting3</p>
     	</span>
     	<span>
     		<i class='bx bx-world' style=""></i>
     		<p>languages</p>
     	</span>
     </div>
     <section class="displaying">
     	<section class="menu " id="sect1"></section>
     	<section class="menu active" id="sect2">
     		<span>
     			<div class="sm_ active" id="new">
     				<i class='bx bx-plus-circle'></i>
     				<p>new request</p>
     			</div>
     			<div class="sm_ " id="statut">
     				<i class='bx bx-time'></i>
     				<p>statuts</p>
     			</div>
     		</span>
     		<section class="section_principal">
     			<section class="section_a active" id="section_a1">
     			
     				<form>
     					<label>SECTION</label>
     				</form>
     			</section>
     			<section class="section_a " id="section_a2">
     				<div>
     					<div></div>
     					<span class="info" style="margin-left:2%;">
     						<p style="font-weight:bold;">M. ATANGANA RICH</p>
     						<p style="opacity:0.75;">Teacher </p>
     					</span>
     					<span style="justify-content:right;position:absolute; right:2px;">
     						<p style="font-size:13px;">19:40</p>
     						<div style="text-align:center;justify-content:center;">
     							<p style="font-size:11px;margin-left:0px;margin-top:12px;">Pending..</p>
     						</div>
     					</span>
     				</div>
     				<div>
     					<div></div>
     					<span class="info" style="margin-left:2%;">
     						<p style="font-weight:bold;">M. ATANGANA RICH</p>
     						<p style="opacity:0.75;">Teacher </p>
     					</span>
     					<span style="justify-content:right; position:absolute; right:2px;">
     						<p style="font-size:13px;">21:30</p>
     						<div style="text-align:center;justify-content:center;background-color:red">
     							<p style="font-size:11px;margin-left:0px;margin-top:12px;">Denied..</p>
     						</div>
     					</span>
     				</div>
     				<div>
     					<div></div>
     					<span class="info" style="margin-left:2%;">
     						<p style="font-weight:bold;">M. ATANGANA RICH</p>
     						<p style="opacity:0.75;">Teacher </p>
     					</span>
     					<span style="justify-content:right;position:absolute; right:2px;">
     						<p style="font-size:13px;">00:40</p>
     						<div style="text-align:center;justify-content:center;background-color:green">
     							<p style="font-size:11px;margin-left:0px;margin-top:12px;">Accept..</p>
     						</div>
     					</span>
     				</div>
     			</section>
     		</section>
     	</section>
     	<section class="menu " id="sect3"></section>
     </section>
     
     <footer>
     	<span id="home" class="sp ">
     		<i class='bx bxs-home' style=""></i>
     		<p style="">Home</p>
     	</span>
     	<span id="request"  class="sp active">
     		<i class='bx bxs-paper-plane' style=""></i>
     		<p>Request</p>
     	</span>
     	<span id="teacher"  class="sp">
     		<i class='bx bxs-user-badge' style=""></i>
     		<p>Teacher</p>
     	</span>
     </footer>
  </body>
  <script src="/javascripts/parent_profil.js"></script>
</html>
