<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/my_request.css'/>
    <link rel='stylesheet' href='/stylesheets/teacher_info.css'/>
    <link rel="icon" href="/icons/48x48.png" type="image/png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Mon PWA">
    <link rel="apple-touch-icon" href="/icons/192x192.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
     <nav>
	<div onclick="window.location.href='/Teacher'">
		<i class='bx bx-chevron-left-circle'></i>
	</div>
	<h3>My Profil</h3>
     </nav>
     <center>
     	<section class="picture">
     		<div style="background: url(/images/e0.avif) no-repeat"></div>
     		<div class="edit">
     			<i class='bx bx-pencil'></i>
     		</div>
     	</section>
     	<div class="information">
     		<i class='bx bxs-user'></i>
     		<p>M. OBAMA Michelle</p>
     		<div class="edit1">
     			<i class='bx bx-pencil' style="color:#0051A2;font-size:1.3rem;margin-top:6px;margin-left:-5px;"></i>
     		</div>
     	</div>
     	<div class="information">
     		<i class='bx bxs-phone'></i>
     		<p>+237690838146</p>
     		<div class="edit1">
     			<i class='bx bx-pencil' style="color:#0051A2;font-size:1.3rem;margin-top:6px;margin-left:-5px;"></i>
     		</div>
     	</div>
     	<div class="information">
     		<i class='bx bxs-key'></i>
     		<p>********</p>
     		<div class="edit1">
     			<i class='bx bx-pencil' style="color:#0051A2;font-size:1.3rem;margin-top:6px;margin-left:-5px;"></i>
     		</div>
     	</div>
     	<div class="information">
     		<i class='bx bxs-map'></i>
     		<p>Nkoabang</p>
     		<div class="edit1">
     			<i class='bx bx-pencil' style="color:#0051A2;font-size:1.3rem;margin-top:6px;margin-left:-5px;"></i>
     		</div>
     	</div>
     	<div class="information">
     		<i class='bx bxs-star' style="color:yellow;"></i>
     		<p>4,2</p>
     	</div>
     	<div class="classe">
     		<h3>Classroom</h3>
     	</div>
     	<div class="room">
     		<p>Terminale C</p>
     		<div><i class='bx bx-trash'></i></div>
     	</div>
     	<div class="room">
     		<p>Premiere C</p>
     		<div><i class='bx bx-trash'></i></div>
     	</div>
     </center>
  </body>
  <script src="/javascripts/view_teacher.js"></script>
</html>
