<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/view_teacher.css'/>
    <link rel="icon" href="/icons/48x48.png" type="image/png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Mon PWA">
    <link rel="apple-touch-icon" href="/icons/192x192.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
     <nav>
	<div onclick="window.location.href='/Parent'">
		<i class='bx bx-chevron-left-circle'></i>
	</div>
	<h3>Teacher near you</h3>
     </nav>
     
     <center>
     	<section class="repetitor">
     		<center>
     			<div>
     				<div class="picture" style="background: url(/images/e0.avif) no-repeat"></div>
     				<p class="p1">Einstein</p></br>
     				<p class="p2">French-Other:College</p>
				<div class="tarif">
					<p>2 100 xaf/seance</p>
					<i class='bx bxs-star'></i>
					<p style="color:#0051A2;font-weight:bold;margin-left:3px;margin-top:8px;">4.2</p>
				</div>
				<span>
					<i class='bx bx-map'></i>
					<p>Awae-Escalier</p>
				</span>
     			</div>
     			<div>
     				<div class="picture" style="background: url(/images/curie.jpg) no-repeat"></div>
     				<p class="p1">Curie</p>
     				<p class="p2">French-Other:College</p>
				<div class="tarif">
					<p>1 500 xaf/seance</p>
					<i class='bx bxs-star'></i>
					<p style="color:#0051A2;font-weight:bold;margin-left:3px;margin-top:8px;">4.2</p>
				</div>
				<span>
					<i class='bx bx-map'></i>
					<p>Nkoabang</p>
				</span>
     			</div>
     			<div>
     				<div class="picture" style="background: url(/images/e0.avif) no-repeat"></div>
     				<p class="p1">Einstein</p></br>
     				<p class="p2">French-Other:College</p>
				<div class="tarif">
					<p>2 100 xaf/seance</p>
					<i class='bx bxs-star'></i>
					<p style="color:#0051A2;font-weight:bold;margin-left:3px;margin-top:8px;">4.2</p>
				</div>
				<span>
					<i class='bx bx-map'></i>
					<p>Awae-Escalier</p>
				</span>
     			</div>
     			<div>
     				<div class="picture" style="background: url(/images/curie.jpg) no-repeat"></div>
     				<p class="p1">Curie</p>
     				<p class="p2">French-Other:College</p>
				<div class="tarif">
					<p>1 500 xaf/seance</p>
					<i class='bx bxs-star'></i>
					<p style="color:#0051A2;font-weight:bold;margin-left:3px;margin-top:8px;">4.2</p>
				</div>
				<span>
					<i class='bx bx-map'></i>
					<p>Nkoabang</p>
				</span>
     			</div>
     			
     		</center>		
     	</section>
     	<div class="head1">
     		<i class='bx bx-category'></i>
     		<p>Filter</p>
     	</div>
     	<form>
	   <center>
	   	<div class="custom-select" style="width:200px;">
		  <select>
		    <option value="0">Section:</option>
		    <option value="1">Francophone</option>
		    <option value="2">Anglophone</option>
		  </select>
	        </div>
	        <div class="custom-select" style="width:200px;">
		  <select>
		    <option value="0">Enseignement:</option>
		    <option value="1">General</option>
		    <option value="2">Technique</option>
		    <option value="3">Primaire</option>
		  </select>
	        </div>
	        <div class="custom-select" style="width:200px;">
		  <select>
		    <option value="0">Serie:</option>
		    <option value="1">Allemand</option>
		    <option value="2">Espagnol</option>
		    <option value="3">Mathematique</option>
		  </select>
	        </div>
	        <div class="custom-select" style="width:200px;">
		  <select>
		    <option value="0">Classe:</option>
		    <option value="1">Terminal D</option>
		    <option value="1">Terminal C</option>
		    <option value="2">Premiere D</option>
		  </select>
	        </div>
	        <input type="submit" value="search">
	   </center>
     	</form>		
     </center>
     
  </body>
  <script src="/javascripts/view_teacher.js"></script>
</html>
