
nav{
	width:100vw;
	height:9vh;
	background-color:transparent;
	position:absolute;
	left:0px;
	top:0px;
	display:flex;
	flex-direction:row;
}

nav div{
	width:55px;
	height:55px;
	border-radius:28px;
	background-color:whitesmoke;
	background-size: cover !important;
        background-position: center !important;
	position:relative;
	margin:7px;
}
nav h3{
	font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#0051A2;
}
form h3{
	color:white;
}
form{
	width:340px;
	height:490px;
	margin-top:100px;
	background-color:#0051A2;
	display:flex;
	flex-direction:column;
	border:none;
	border-radius:5px;
		
}
form label{
	margin:10px;
	font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight:500;
	text-align:left;
	margin-left:20px;
	font-weight:bold;
	color:white;

}
form input{
	height:40px;
	width:300px;
	outline:none;
	font-size:16px;
	border:none;
	background-color:transparent;
	border-bottom:1px solid white;
	color:white;
	text-decoration:none;
	
}
form i{
	color:white;
	margin-left:-25px;
}
/* CSS */
input[type="radio"] {
  accent-color: #ff0000; /* Changes the checked color to red */
  width: 1.3em;          /* Optional: Increase size */
  height: 1.3em;         /* Optional: Increase size */
  margin:22px;
  margin-top:8px;
}

form input[type="submit"]{
	width:160px;
	height:40px;
	float:center;
	border:0;
	background-color:white;
	font-size:14px;
	color:dodgerblue;
	margin-top:25px;
	border-radius:5px;
	font-weight:bold;
}

form h3{
	font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight:500;
}
form hr{
	width:90%;
	margin-top:-10px;
}
