
nav{
	width:100vw;
	height:9vh;
	background-color:transparent;
	position:absolute;
	left:0px;
	top:0px;
	display:flex;
	flex-direction:row;
}

nav div{
	width:55px;
	height:55px;
	border-radius:28px;
	background-color:whitesmoke;
	background-size: cover !important;
        background-position: center !important;
	position:relative;
	margin:7px;
}
nav h3{
	font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight:bold;
}

form{
	width:340px;
	height:350px;
	margin-top:100px;
	background-color:transparent;
	display:flex;
	flex-direction:column;
	
}
form h3{
	font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight:500;
}
form hr{
	width:90%;
}
