nav{
	width:100vw;
	height:60px;
	background-color:white;
	position:absolute;
	left:0px;
	top:0px;
	display:flex;
	flex-direction:row;
}
body{
	background-color:whitesmoke;
}
html {
    font-family: 'Roboto', sans-serif;
}


nav div{
	width:40px;
	height:40px;
	border-radius:28px;
	background-color:transparent;
	position:relative;
	margin:10px;
	justify-content:center;
	text-align:center;
	margin-top:17px;
}
nav div i{
	font-size:35px;
	margin-top:0px;
	color:#0051A2;
}
nav .setting{
	width:45px;
	height:45px;
	position:absolute;
	right:20px;
	top:5px;
	justify-content:center;
	text-align:center;
}
nav h3{
	font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#0051A2;
}
section{
	width:90%;
	max-width:600px;
	height:300px;
	background-color:white;
	position:relative;
	top:80px;
}
section div{
	width:95%;
	height:50px;
	background-color:transparent;
	display:flex;
	flex-direction:row;
}
section div i{
	font-size:2.0rem;
	margin-top:10px;
}
section div p{
	font-size:1.4rem;
	margin-top:10px;
	color:#0051A2;
	margin-left:15px;
}
.notation{
	width:90%;
	max-width:600px;
	height:60px;
	background-color:transparent;
	margin-top:80px;
	display:flex;
	flex-direction:row;
	justify-content:center;
}
.notation div{
	width:50px;
	height:50px;
	
	position:relative;
	top:5px;
	border-radius:5px;
	justify-content:center;
	text-align:center;
	margin-left:10px;	
}
.notation .note.active{
	background-color:#0051A2;
}
.notation .note{
	background-color:silver;
}
.drop{
	width:180px;
	background-color:white;
	height:50px;
	margin-top:25px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	border-radius:5px;
}
.notation div p{
	color:white;
	font-size:1.8rem;
	font-weight:bold;
	margin-top:10px;
}
