nav{
	width:100vw;
	height:80px;
	background-color:white;
	position:absolute;
	left:0px;
	top:0px;
	display:flex;
	flex-direction:row;
}
body{
	background-color:whitesmoke;
}
html {
    font-family: 'Roboto', sans-serif;
}
.manipulation{
	width:300px;
	height:450px;
	background-color:white;
	margin-top:10vh;
	transition: transform 0.3s ease;
	transform: translateX(-100%);
	z-index: 1000;
	position: absolute;
        left: 0;
        display:flex;
        flex-direction:column;
        max-width:300px;
}
.manipulation .profil{
	width:100%;
	height:70px;
	background-color:whitesmoke;
	display:flex;
	flex-direction:row;
}
.manipulation .profil div{
	width:60px;
	height:60px;
	background-color:white;
	border-radius:30px;
	position:relative;
	margin:7px;
	background-size: cover !important;
        background-position: center !important;
	
	
}
.manipulation .option{
	width:100%;
	height:40px;
	background-color:white;
	border-bottom: 1px solid whitesmoke;
	display:flex;
	flex-direction:row;
}
.manipulation .option i{
	font-size:25px;
	color:#0051A2;
	margin:8px;
}
.manipulation .option p{
	color:#0051A2;
	margin:10px;
}
.manipulation .profil span{
	display:flex;
	flex-direction:column;
	margin:5px;
}
.manipulation .profil span p{
	margin:5px;
	margin-top:8px;
}
.manipulation .profil span .p1{
	font-size:11px;
}
.manipulation .profil span .p2{
	font-weight:bold;
}
.manipulation.active {
    transform: translateX(0);
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
}

.repetitor{
	width:95%;
	max-width:600px;
	height:400px;
	background-color:white;
	margin-top:100px;
	
}
.repetitor .header_option{
	width:100%;
	height:50px;
	background-color:gray;
	display:flex;
	flex-direction:row;
}
nav div{
	width:55px;
	height:55px;
	border-radius:28px;
	background-color:whitesmoke;
	background-size: cover !important;
        background-position: center !important;
	position:relative;
	margin:7px;
}
nav .setting{
	width:45px;
	height:45px;
	position:absolute;
	right:20px;
	top:5px;
	justify-content:center;
	text-align:center;
}
nav h3{
	font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#0051A2;
}

