nav{
	width:100vw;
	height:80px;
	background-color:white;
	position:absolute;
	left:0px;
	top:0px;
	display:flex;
	flex-direction:row;
}
body{
	background-color:whitesmoke;
}
html {
    font-family: 'Roboto', sans-serif;
}
.manipulation{
	width:300px;
	height:450px;
	background-color:white;
	transition: transform 0.3s ease;
	transform: translateX(100%);
	z-index: 1000;
	position: absolute;
        right: 0;
        display:flex;
        flex-direction:column;
        max-width:300px;
        top:90px;
        border-radius:5px;
}
.manipulation .profil{
	width:100%;
	height:70px;
	background-color:whitesmoke;
	display:flex;
	flex-direction:row;
}
.manipulation .profil div{
	width:60px;
	height:60px;
	background-color:white;
	border-radius:30px;
	position:relative;
	margin:7px;
	background-size: cover !important;
        background-position: center !important;
	
	
}
.manipulation .option{
	width:100%;
	height:40px;
	background-color:white;
	border-bottom: 1px solid whitesmoke;
	display:flex;
	flex-direction:row;
}
.manipulation .option i{
	font-size:25px;
	color:#0051A2;
	margin:8px;
}
.manipulation .option p{
	color:#0051A2;
	margin:10px;
}
.manipulation .profil span{
	display:flex;
	flex-direction:column;
	margin:5px;
}
.manipulation .profil span p{
	margin:5px;
	margin-top:8px;
}
.manipulation .profil span .p1{
	font-size:11px;
}
.manipulation .profil span .p2{
	font-weight:bold;
}
.manipulation.active {
    transform: translateX(0);
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
}

.repetitor{
	width:95%;
	max-width:600px;
	height:auto;
	background-color:transparent;
	margin-top:100px;
	
}
.repetitor .header_option{
	width:100%;
	height:50px;
	display:flex;
	flex-direction:row;
	background-color:transparent;
}
.repetitor .list{
	width:100%;
	height:60px;
	display:flex;
	flex-direction:column;
	border-bottom:2px solid white;
	position:relative;
	top:17px;
	margin-top:10px;
}
.repetitor .list .name{
	text-align:left;
	margin-top:5px;
	font-size:21px;
	color:#0051A2;
	margin-left:5px;
}
.repetitor .list span{
	display:flex;
	flex-direction:row;

	margin-top:-30px;
}
.repetitor .list span i{
	margin-top:17px;
}
.repetitor .list span .quart{
	color:#0051A2;
}
.repetitor .header_option i{
	color:#0051A2;
	font-size:25px;
}
.repetitor .header_option h3{
	color:#0051A2;
	font-size:1.3rem;
}
.new{
	width:250px;
	height:50px;
	background-color:#0051A2;
	margin-top:60px;
	display:flex;
	flex-direction:row;
	cursor:pointer;
	border-radius:5px;
}
.new div{
	width:38px;
	height:38px;
	background-color:white;
	border-radius:20px;
	margin:5px;
	text-align:center;
	justify-content:center;
	text-align:center;
	border-radius:5px;
}
.new div i{
	font-size:35px;
	margin-top:1px;
	color:#0051A2;
}
.new h3{
	color:white;
	margin:0px;
	font-weight:normal;
	margin-top:15px;
	margin-left:15px;
}
nav div{
	width:55px;
	height:55px;
	border-radius:28px;
	background-color:transparent;
	background-size: cover !important;
        background-position: center !important;
	position:relative;
	margin:7px;
}
nav .setting{
	width:45px;
	height:45px;
	position:absolute;
	right:20px;
	top:5px;
	justify-content:center;
	text-align:center;
}
nav .notification{
	width:45px;
	height:45px;
	position:relative;
	right:-25%;
	top:5px;
	justify-content:center;
	text-align:center;
}
nav h3{
	font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#0051A2;
}

