.picture{
	width:170px;
	height:170px;
	background-color:white;
	margin-top:0px;
	border-radius:100px;
	justify-content:center;
}
.picture div{
	width:140px;
	height:140px;
	background-color:gray;
	border-radius:90px;
	top:15px;
	background-position: center !important;
	background-size:cover !important;
}

.picture .edit{
	width:40px;
	height:40px;
	background-color:#0051A2;
	border-radius:20px;
	position:absolute;
	right:12px;
	justify-content:center;
	text-align:center;
}
.picture .edit i{
	color:white;
	font-size:28px;
	margin-top:5px;
}
.information{
	width:100%;
	max-width:600px;
	height:50px;
	background-color:transparent;
	margin-top:20px;
	display:flex;
	flex-direction:row;
	position:relative;
	top:50px;
}
.information i{
	position:relative;
	font-size:1.8rem;
	left:5%;
	margin-top:15px;
}
.information p{
	font-size:1.2rem;
	margin-left:10%;
}
.information .edit1{
	width:30px;
	height:30px;
	background-color:white;
	border-radius:22px;
	position:absolute;
	right:05%;
	margin-top:14px;
	justify-content:center;
	text-align:center;
}
.classe{
	width:320px;
	height:50px;
	background-color:#0051A2;
	margin-top:70px;
	border-radius:5px;
}
.classe h3{
	color:white;
	position:relative;
	top:13px;
}
.room{
	width:250px;
	height:45px;
	background-color:white;
	top:15px;
	margin-top:10px;
	border-radius:5px;
	justify-content:center;
	text-align:center;
	display:flex;
	flex-direction:row;
}
.room div{
	width:35px;
	height:35px;
	background-color:whitesmoke;
	border-radius:20px;
	position:relative;
	left:55px;
	top:5px;
	justify-content:center;
	text-align:center;	
}
.room div i{
	font-size:1.3rem;
	margin-top:07px;
}
