nav{
	width:100vw;
	height:60px;
	background-color:white;
	position:absolute;
	left:0px;
	top:0px;
	display:flex;
	flex-direction:row;
}
body{
	background-color:whitesmoke;
}
html {
    font-family: 'Roboto', sans-serif;
}


nav div{
	width:40px;
	height:40px;
	border-radius:28px;
	background-color:transparent;
	position:relative;
	margin:10px;
	justify-content:center;
	text-align:center;
	margin-top:17px;
}
nav div i{
	font-size:35px;
	margin-top:0px;
	color:#0051A2;
}
nav .setting{
	width:45px;
	height:45px;
	position:absolute;
	right:20px;
	top:5px;
	justify-content:center;
	text-align:center;
}
nav h3{
	font: 1.4rem "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#0051A2;
}

.repetitor{
	width:95%;
	max-width:600px;
	height:370px;
	background-color:transparent;
	margin-top:80px;
	display:flex;
	flex-direction:row;
	overflow-y: hidden;
    	overflow-x: auto;
    	scrollbar-width: none; /* Firefox */
    	-ms-overflow-style: none; /* IE et Edge */
}
.repetitor div{
	width:250px;
	height:330px;
	background-color:white;
	position:relative;
	top:15px;
	flex-shrink: 0;
	margin-left:15px;
	border-radius:5px;
}
.repetitor div .picture{
	width:100%;
	height:160px;
	background-color:whitesmoke;
	position:relative;
	top:0px;
	background-size:cover !important;
	background-position:center !important;
	margin-left:0px;
}
.repetitor div h3{
	font-size:0.9rem;
	position:absolute;
	top:150px;
	left:2px;
	font-weight:500;	
}
.repetitor div span{
	display:flex;
	flex-direction:row;
	margin-top:10px;
}
.repetitor div span i{
	margin-top:18px;
}
.repetitor div span h4{
	font-size:0.9rem;
	font-weight:500;
}
.repetitor div .send{
	width:200px;
	height:45px;
	background-color:#0051A2;
	margin-top:-20px;
	justify-content:center;
	text-align:center;
	display:flex;
	flex-direction:row;
}
.repetitor div .send i{
	color:white;
	font-size:1.4rem;
	margin-top:10px;
}
.repetitor div .send p{
	color:white;
	font-size:1.2rem;
	margin-top:10px;
}
.head1{
	width:250px;
	height:50px;
	background-color:transparent;
	position:absolute;
	left:10px;
	display:flex;
	flex-direction:row;
	margin-top:30px;
}
.head1 i{
	font-size:30px;
	color:#0051A2;
}
.head1 p{
	font-size:25px;
	color:#0051A2;
	margin-top:0px;
}

form{
	width:100%;
	max-width:400px;
	height:300px;
	background-color:transparent;
	margin-top:50px;
	display:flex;
	flex-direction:column;
}
form .custom-select {
  position: relative;
  font-family: Arial;
  margin-top:20px;
  display:inline-block;
}
form input[type="submit"]{
	width:150px;
	height:40px;
	background-color:skyblue;
	margin-top:20px;
	border:0px;
	color:white;
	font-size:1.1rem;
	border-radius:5px;
}
 form .custom-select select {
  display: none; /*hide original SELECT element: */
  
}

.select-selected {
  background-color: #0051A2;
  border-radius:5px;
  
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.select-items div {
  color: #0051A2 !important; /* Texte bleu */
}
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  color:black !important;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
